
body {
    margin-top: 0%;
    margin-bottom: 0%;
    border-top: none;
    border-bottom: none;
    margin: 0;
    display: grid;
}

#logo {
    width: 100px;
    margin-top: 20px;
    margin-left: 20px;
}

#sec1 {
    width: 100%;
    height: 560px;
    background-image: url(Assets/Images/background\ da\ seção\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    margin-top: 0%;
    margin-bottom: 0%;
    border-top: none;
    border-bottom: none;

}

#sec1 h1 {
    font-family: 'Inter';
    font-style: bold;
    font-weight: 100px;
    font-size: 40px;
    line-height: 128.5%;
    width: 536px;
    height: 100px;
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-left: 10%;
    text-align: justify;
 

}

#sec1 h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    width: 536px;
    height: 90px;
    margin-left: 10%;
    text-align: justify;    
    
}

#sec2 {
    background-color: #EAECE5;
    color:#122235;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    border-top: none;
    border-bottom: none;
    width: 100%;
    height: 170px;
    margin-top: 0%;
    margin-bottom: 0%;
    border-top: none;
    border-bottom: none;
    padding: 0%;
    

}


#sec2 {
    /* ... outras propriedades ... */
    display: flex;
    justify-content: center;
    align-items: center;
}

#sec2 ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#sec2 li {
    display: flex;
    align-items: center;
    text-align: start;
    margin-left: 1em;
    margin-right: 1em;

}

.icon {
    padding: 10px;
}

#sec3 {
    display:grid;
    grid-auto-flow: column;
    grid-template-columns: 50% 50%;  
    margin: 4rem 0rem 4rem 0rem; 
    height: 400px; 
}

#video {
    grid-column-start: 1;
    margin: 0rem 5rem 5rem 10rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

iframe {
    height: 400px;
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#textvideo {
    margin: 3rem 10rem 5rem 5rem;
    
}

#sec3 h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #247BA0;
    grid-column-start: 2;
    text-align: justify;
    width: 496px;
    height: 96px;
    text-align: justify;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

#sec3 p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    color: #383838;
    grid-column-start: 2;
    text-align: justify;
    width: 496px;
    height: 144px;
    text-align: justify;
    margin: 2em 0em 0em 0em;

}

#sec4 {
    background: #247BA0;
    width: 100%;
    height: 444px;
}

#sec4 h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    text-align: center;
    color: #EAECE5;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

#carrossel {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.card {
    margin-top: 5em;
}

#seta-direita {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5em;
}

#seta-esquerda {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5em;
}

#Samantha {
    display: none;
}

.seta {
    margin-top: 5%;
    cursor: pointer;
}

.seta:hover {
    transform:translateY(-7px);
    transition-duration: 0.4s;
}


#sec5 h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: #383838;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    
    background: #EAECE5;
    border-radius: 5px;
    width: 30em;
    height: 4em;
    border-width: 2px;
    border-style: none;
    border-color: none;
    font-size: larger;
}

button {

    margin: 0em 1em 5em 1em;
    width: 15em;
    height: 4em;
    background: #247BA0;
    border-radius: 8px;
    border-width: 2px;
    border-style: none;
    border-color: none;
    color: #EAECE5;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    font-size: larger;
    
    
}

button:hover {
    color:white;
    background: #3f9ac1;
    transform:translateY(-6px);
    transition-duration: 0.2s;
    box-shadow: 0px 15px 20px 0px #244a5ac5;
    cursor: pointer;
}

@media only screen and (max-width: 350px) {

    /*Seção 01*/

   
    #logo {
        width: 100px;
        margin-top: 1rem;
        margin-left: 7rem;
    }

    #sec1 {
        height: 24em;
    
    }
    #sec1 h1 {
        font-size: 20px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: left;
        text-align:center;
        width: 12em;
        margin: 2em 2em 0em 2em;
    }

    #sec1 h3 {
        width: 16em;
        margin: 2em 2em 0em 2.5em;        
        font-size: 15px;

    }

    /*Seção 02*/


    
    #sec2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 12em;
        width: 100%;

        
    }
    
    #sec2 ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 0em;
        width: 18em;
        margin-left: 0em;
        font-size:17px;
        
    }
    
    #sec2 li {
        display: flex;
        flex-direction: row;
        margin-left: 0.5em;
        margin-right: 0em;
        padding: 1em;
    
    }
    
    .icon {
        padding: 0.5em;
    }


    /*Seção 03*/

    #sec3 {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        grid-auto-flow:unset;
        grid-template-columns:none;  
        margin: 0px 0px 0px 0px;  
        margin-block-start: 0em;
        margin-block-end: 0em;
        height: 600px;
    }
    
   

    #sec3 h1 {
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        grid-column-start: none;
        height: 96px;
        flex-direction: row;
        justify-content: flex-start;
        text-align: center;
        width: 12em;
        margin: 0em 2em 0em 2em;        
        
    }
    
    #sec3 p {
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #383838;
        grid-column-start: none;
        height: 96px;
        text-align: justify;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 16em;
        margin: 5em 2em 0em 2em;  

    
    }

    #video {
        grid-column-start: none;
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 1em 5em 0em 2em;
        padding: 0.5em; 
        width: 5em;
    }
    iframe {
        height: 200px;
        width: 250px;
    }    
    #textvideo {
        margin: 0px;     
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

    }

    /* Seção 4 */

    #sec4 {
        height: 26em;
    }
    
    #sec4 h1 {
        
        justify-content: flex-start;
        align-items: flex-start;
        text-align: center;
        width: 12em;
        margin: 1em 2em 0em 2em;        
        font-size: 20px;
    
    }
    
    #carrossel {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 0em;
            margin-left: 0em; 
        }
    
        .card {
            margin: 1em 1em 0em 1.5em;
            width: 15em;
            display: flex;
            justify-content: center;
            align-items: flex-start;
        }
        
        #seta-direita {
            display: none;
        }
        
        #Samantha {
            display: flex;
        }
    
        #sec5 h1{
            justify-content: flex-start;
            align-items: flex-start;
            text-align: center;
            width: 12em;
            margin: 1em 2em 0em 2em;        
            font-size: 20px;
        }
    
        form {
            width: 12em;
            margin: 1em 2em 0em 2em;        
        }
    
        input {
        
            width: 15em;
            height: 2em;
            border-width: 2px;
            border-style: none;
            border-color: none;
            margin: 1em 2em 0em 6em;
            font-size: 15px;  
        }
        
        button {
            width: 10em;
            height: 4em;
            margin: 1em 2em 4em 6em;  
            font-size: 14px;         
        }

    }


@media only screen and (min-width: 351px) and (max-width: 450px) {
   /*Seção 01*/

   
   #logo {
    width: 100px;
    margin-top: 1rem;
    margin-left: 8.5rem;
}

#sec1 {
    height: 24em;

}
#sec1 h1 {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align:center;
    width: 15em;
    margin: 2em 2em 0em 2em;
}

#sec1 h3 {
    width: 19em;
    margin: 2em 2em 0em 3.5em;        
    font-size: 15px;

}

/*Seção 02*/



#sec2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 12em;
    width: 100%;

    
}

#sec2 ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0em;
    width: 17em;
    margin-top: 0em;
    margin-left: 1em;
    font-size:20px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 0px;
    justify-content:center;
    
}

#sec2 li {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    

}

.icon {
    padding: 0.5em;
}


/*Seção 03*/

#sec3 {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    grid-auto-flow:unset;
    grid-template-columns:none;  
    margin: 0px 0px 0px 0px;  
    margin-block-start: 0em;
    margin-block-end: 0em;
    height: 580px;
}



#sec3 h1 {
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    grid-column-start: none;
    height: 96px;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    width: 12em;
    margin: 0em 2em 1em 2em;        
    
}

#sec3 p {
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #383838;
    grid-column-start: none;
    height: 96px;
    text-align: justify;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 17em;
    margin: 3em 2em 0em 2em;  


}

#video {
    grid-column-start: none;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 1em 5em 0em 2em;
    padding: 0.5em; 
    width: 6em;
}
iframe {
    height: 200px;
    width: 310px;
}    
#textvideo {
    margin: 0px;     
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

/* Seção 4 */

#sec4 {
    height: 28em;
}

#sec4 h1 {
    
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    width: 14em;
    margin: 1em 2em 0em 2em;        
    font-size: 22px;

}

#carrossel {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0em;
        margin-left: 0em; 
    }

    .card {
        margin: 1em 1em 0em 0em;
        width: 18em;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    
    #seta-direita {
        display: none;
    }
    
    #Samantha {
        display: flex;
    }
    
    #sec5 h1{
        justify-content: flex-start;
        align-items: flex-start;
        text-align: center;
        width: 12em;
        margin: 1em 2em 0em 1.5em;        
        font-size: 25px;
    }
    
    form {
        width: 12em;
        margin: 1em 2em 0em 4em;        
    }
    
    input {
    
        width: 16em;
        height: 2em;
        border-width: 2px;
        border-style: none;
        border-color: none;
        margin: 1em 2em 0em 6em;
        font-size: 18px;  
    }
    
    button {
        width: 15em;
        height: 3em;
        margin: 1em 2em 10em 6em;  
        font-size: 18px;         
    }
    
}


   
 